.body {
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
}
ul {
  padding: none;
  display: contents;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
.displayinfo {
  background-color: #bdacbc;
  border: 1px solid #bdacbc;
  border-radius: 5px;
  margin-top: 30px;
}

li:first-letter {
  text-transform: capitalize;
}

.header {
  font-size: 15px;
}

.row .displayinfo {
  background-color: #6284a3;
  border: 1px solid #6284a3;
  border-radius: 5px;
}
.WeatherInfo canvas {
  height: 75px;
  width: 75px;
  margin-top: 5px;
}

.weather-app {
  border: 1px solid #dadde1;
  border-radius: 5px;
  padding: 17px;
  background-size: cover;
  background-color: #2d46ba;
  background-position: center;
  color: #ffff;
}
.weather-app-wrapper {
  max-width: 400px;
  margin: 15px auto;
  text-align: center;
}
.row {
  font-size: 13px;
}

.temperature-now strong {
  font-size: 50px;
  line-height: 1;
  position: relative;
  right: -18px;
}
.loader {
  text-align: center;
  position: relative;
  bottom: -300px;
}
.unit {
  position: relative;
  top: -24px;
  font-size: 14px;
  font-weight: 500;
  color: #fca311;
  cursor: default;
}

.unit:hover {
  text-decoration: none;
  color: #a8dadc;
}

.faren {
  color: #a8dadc;
}

.faren:hover {
  color: #fca311;
}

small {
  color: black;
}
