.App {
  max-width: 400px;
  margin: 30px auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;

  color: #0c0909;
}
h1 {
  text-align: center;
}
li {
  list-style: none;
}
ul {
  padding: none;
  display: contents;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
.displayinfo {
  background-color: #bdacbc;
  border: 1px solid #bdacbc;
  border-radius: 5px;
  margin-top: 30px;
}

li:first-letter {
  text-transform: capitalize;
}

.header {
  font-size: 15px;
}

.row .displayinfo {
  background-color: #6284a3;
  border: 1px solid #6284a3;
  border-radius: 5px;
}

.weather-app {
  border: 1px solid #dadde1;
  border-radius: 5px;
  padding: 30px;
  background-size: cover;
  background-position: center;
  max-width: 400px;
  margin: 15px auto;
}

.row {
  font-size: 13px;
}

.temperature-now {
  position: relative;
  right: -20px;
  text-align: center;
}

.temperature-now strong {
  font-size: 50px;
  line-height: 1;
}

.units {
  position: relative;
  top: -24px;
  font-size: 14px;
}

.active {
  color: #6284a3;
  cursor: default;
}
.active:hover {
  text-decoration: none;
  color: #b91de9;
}

small {
  color: black;
}
